<div class="container">
  <h2>{{ tituloComponente }}</h2>

  <form #contatoForm="ngForm">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" id="nome" class="form-control inputFormularioCadastro inputNome" [(ngModel)]="contato.nome" name="nome"
        required />
    </div>

    <div class="containerInputs">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" id="email" class="form-control inputFormularioCadastro" [(ngModel)]="contato.email"
          name="email" required />
      </div>

      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" id="telefone" class="form-control inputFormularioCadastro" [(ngModel)]="contato.telefone"
          name="telefone" (ngModelChange)="formatarTelefone()" required />
      </div>
    </div>

    <div class="d-flex justify-content-between">
      @if (contato.id > 0) {
      <button [disabled]="!contatoForm.valid" (click)="update()" class="btn btn-primary saveButton">Atualizar</button>
      }@else{
      <button [disabled]="!contatoForm.valid" (click)="save()" class="btn btn-primary saveButton">Salvar</button>
      }
      <button type="button" class="btn btn-secondary cancelButton" (click)="retorno.emit(null)">Cancelar</button>
    </div>
  </form>
</div>