<div class="body">
    <div class="conteinerLogin">
        <div>
            <p>LOGIN</p>
        </div>

        <div class="conteinerInputs">
            <div class="form-outline">
                <label class="form-label" for="typeEmail">Usuário</label>
                <input type="email" id="typeEmail" class="form-control" />
            </div>
    
            <div class="form-outline" data-mdb-input-init>
                <label class="form-label" for="typePassword">Senha</label>
                <input type="password" id="typePassword" class="form-control" />
            </div>
        </div>

        <div class="containerButtons">
            <button type="button" class="enterButton" data-mdb-ripple-init>Entrar</button>
            <button type="button" class="registerButton" data-mdb-ripple-init>Cadastrar</button>
        </div>

    </div>

</div>